@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  font-family: 'Lato', serif;
  font-weight: bold;
  background: #2f2f2f;
  color: white;
}

h2 {
  text-align: center;
  font-size: 3.5vw;
  margin-top: 5vw;
}

h3 {
  text-align: center;
  font-size: 3vw;
  margin-top: 5vw;
}

table {
      width: 80vw;
      margin-left: 10vw;
      border-collapse: collapse;
      margin-top: 2vw;
      border: #00a99d 0.2vw solid;
    }

    th, td {
      border: 0.1vw solid #ddd;
      padding: 1vw;
      text-align: center;
    }

    th {
      background-color: #00a99d;
    }
