body {
  font-family: 'Lato', serif;
  font-weight: bold;
  background: #2f2f2f;
}

table {
      width: 80vw;
      margin-left: 10vw;
      border-collapse: collapse;
      margin-top: 20px;
      border: #00a99d 0.5vw solid;
      border-radius: 1vw
    }

    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }
